.HomePage {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}